<header class="header" role="heading" aria-label="Shop Ease">
  <a href="#" class="logo"
    ><fa-icon [icon]="faShoppingBasket"></fa-icon>ShopEase</a
  >

  <nav class="navbar" [ngClass]="isMenuActive ? 'active' : ''">
    <a href="#">Home</a>
    <a href="#">Features</a>
    <a href="#">Products</a>
    <a href="#">Categories</a>
    <a href="#">Review</a>
    <a href="#">Blog</a>
  </nav>

  <div class="icons">
    <fa-icon [icon]="faBars" id="menu-btn" (click)="toggleMenu()"></fa-icon>
    <fa-icon
      [icon]="faSearch"
      id="search-btn"
      (click)="toggleSearch()"
    ></fa-icon>
    <fa-icon
      [icon]="faShoppingCart"
      id="cart-btn"
      (click)="toggleCart()"
    ></fa-icon>
    <span *ngIf="!isLoggedIn">
      <fa-icon [icon]="faUser" id="login-btn" (click)="toggleLogin()"></fa-icon>
    </span>
    <span *ngIf="isLoggedIn">
      <fa-icon
        [icon]="faUserCircle"
        id="profile-btn"
        (click)="toggleProfile()"
      ></fa-icon>
    </span>
  </div>

  <div class="search-form" [ngClass]="isSearchActive ? 'active' : ''">
    <app-search-form></app-search-form>
  </div>
  <div class="shopping-cart" [ngClass]="isCartActive ? 'active' : ''">
    <app-shopping-cart></app-shopping-cart>
  </div>
  <div class="login-form" [ngClass]="isLoginActive ? 'active' : ''">
    <app-login-form (registerClicked)="toggleRegister()"></app-login-form>
  </div>

  <div class="register-form" [ngClass]="isRegisterActive ? 'active' : ''">
    <app-register-form></app-register-form>
  </div>
  <div class="profile-panel" [ngClass]="isProfileActive ? 'active' : ''">
    <app-profile-panel></app-profile-panel>
  </div>
</header>
