.custom-toolbar {
  background: linear-gradient(
    90deg,
    #0e0501 0%,
    #110604 30.35%,
    #020002 99.94%
  );
}

.header__text {
  color: #caa973;
  font-size: 1.5rem;
}

.header__icon {
  color: #caa973;
}

.spacer {
  flex: 1 1 auto;
}
