<header class="custom-header" role="heading" aria-label="Shop Ease">
  <div class="header-content">
    <h1 class="header__text">
      <a routerLink="/">
        {{ websiteName }}
      </a>
    </h1>
    <nav class="header__nav">
      <a href="#" class="header__nav-link">Home</a>
      <a href="#" class="header__nav-link">Burgers</a>
      <a href="#" class="header__nav-link">Contact</a>
    </nav>
    <app-primary-button class="shop-now-button" routerLink="/shop"
      >Shop Now</app-primary-button
    >
    <button class="header__button" (click)="toggleMenu()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>
</header>
