<section class="products" id="products">
  <h1 class="heading">Our <span>Products</span></h1>
  <div class="keen-slider product-slider" #sliderRef>
    <div
      class="box keen-slider__slide"
      *ngFor="let product of products$ | async"
    >
      <img
        src="{{ product.image_url || '/assets/default-image.webp' }}"
        alt=""
      />
      <h3>{{ product.name }}</h3>
      <div class="price">${{ product.price }}</div>
      <div class="stars">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalfAlt"></fa-icon>
      </div>

      <button class="btn" (click)="addToCart(product)">Add To Cart</button>
    </div>
  </div>
</section>
