<section class="products" id="products">
  <h1 class="heading">Sản phẩm<span>của chúng tôi</span></h1>
  <mat-form-field>
    <mat-label>Danh mục</mat-label>
    <mat-select>
      <mat-option (click)="fetchNewProductsByCategory('')">__</mat-option>
      <mat-option
        *ngFor="let category of categories"
        [value]="category.value"
        (click)="fetchNewProductsByCategory(category.value)"
      >
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="keen-slider product-slider" #sliderRef>
    <div
      class="box keen-slider__slide"
      *ngFor="let product of products$ | async"
    >
      <img
        src="{{ product.image_url || '/assets/default-image.webp' }}"
        alt=""
      />
      <h3>{{ product.name }}</h3>
      <div *ngIf="product.discount">
        <div class="old-price">
          <a> ${{ product.price }} </a>
        </div>
        <div class="price">
          ${{ product.price - product.price * (product.discount / 100) }}
        </div>
      </div>
      <div *ngIf="!product.discount" class="price">${{ product.price }}</div>
      <div class="stars">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalfAlt"></fa-icon>
      </div>

      <button class="btn" (click)="addToCart(product.id)">Thêm vào giỏ</button>
    </div>
  </div>
</section>
