<form class="login-form" (submit)="onSubmit()">
  <h3>Đăng nhập ngay!</h3>
  <input
    [(ngModel)]="logInDto.username"
    name="username"
    type="text"
    placeholder="Tên đăng nhập"
    class="box"
  />
  <input
    [(ngModel)]="logInDto.password"
    name="password"
    type="password"
    placeholder="Mật khẩu"
    class="box"
  />
  <p>Quên mât khẩu?</p>
  <p>Không có tài khoản? <a (click)="registerClick()">Tạo ngay</a></p>
  <button type="submit" class="btn">Đăng nhập</button>
</form>
