<form>
  <mat-form-field class="form-field">
    <mat-label>Địa chỉ</mat-label>
    <mat-select
      [value]="cartDetail.address_id"
      (selectionChange)="onAddressChange($event)"
    >
      <mat-option *ngFor="let address of addresses" [value]="address.id">{{
        address.location
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Phí giao hàng</mat-label>
    <mat-select
      [value]="cartDetail.shipping_fee_id"
      (selectionChange)="onShippingFeeChange($event)"
    >
      <mat-option *ngFor="let shipping of shippingFees" [value]="shipping.id">{{
        shipping.name + ": " + shipping.fee
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Phương thức thanh toán</mat-label>
    <mat-select
      [value]="cartDetail.shipping_method_id"
      (selectionChange)="onShippingMethodChange($event)"
    >
      <mat-option *ngFor="let method of shippingMethods" [value]="method.id">{{
        method.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Tổng cộng: {{ cartDetail.total_price || 0 | number: numberFormat }} VND</p>
</form>
