<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle
        >Price: {{ item.price | number: numberFormat }} VND</mat-card-subtitle
      >
      <mat-card-subtitle>Amount: {{ item.amount }} </mat-card-subtitle>
      <img
        mat-card-sm-image
        [src]="item.image_urls[0] || '/assets/default-image.webp'"
        [alt]="item.name"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>{{ item.description }}</mat-card-content>
</mat-card>
