.primary-button {
  background-color: #8c5036;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1.25em;
  cursor: pointer;
  transition: all 0.2s ease-out;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: lighten(#8c5036, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  // Add this part for a ripple effect on click
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(white, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1) translate(-50%);
    transition: opacity 0.6s, transform 0.6s;
  }

  &:active:after {
    opacity: 0.3;
    transform: scale(100) translate(-50%);
    transition: 0s;
  }
}
