<section class="features" id="features">
  <h1 class="heading">Our <span>features</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="assets/featured/feature-3.jpg" alt="" />
      <h3>Quality Products</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button href="#" class="btn">Read more</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-2.jpg" alt="" />
      <h3>Free Delivery</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button href="#" class="btn">Read more</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-1.jpg" alt="" />
      <h3>Easy Payments</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button href="#" class="btn">Read more</button>
    </div>
  </div>
</section>
