<section class="features" id="features">
  <h1 class="heading">Dịch vụ<span>của chúng tôi</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="assets/featured/feature-3.jpg" alt="" />
      <h3>Sản phẩm chất lượng</h3>
      <p>Sự xuất sắc chưa từng có ở mọi khía cạnh</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-2.jpg" alt="" />
      <h3>Miễn phí vận chuyển</h3>
      <p>Vận chuyển dễ dàng và nhanh chóng</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-1.jpg" alt="" />
      <h3>Thanh toán dễ dàng</h3>
      <p>Tùy chọn thanh toán liền mạch và thuận tiện</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>
  </div>
</section>
