<section class="features" id="features">
  <h1 class="heading">Our <span>features</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="assets/featured/feature-3.jpg" alt="" />
      <h3>Sản phẩm chất lượng</h3>
      <p>Đây là tiêu chí hàng đầu khi phục vụ khách!!</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-2.jpg" alt="" />
      <h3>Phí giao hàng tùy chọn</h3>
      <p>Chúng tôi cho phép bạn chọn mức phí giao hàng của riêng mình</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>

    <div class="box">
      <img src="assets/featured/feature-1.jpg" alt="" />
      <h3>Dễ dàng thanh toán</h3>
      <p>Bạn có thể thanh toán khi nhận hàng</p>
      <button href="#" class="btn">Đọc thêm</button>
    </div>
  </div>
</section>
