.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.content {
  text-transform: capitalize;
  text-align: center;
  h3 {
    color: var(--black);
    font-size: 3rem;
    font-weight: bolder;
  }

  span {
    color: var(--orange);
  }

  p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
  }
}
