<div class="container">
  <div class="title">
    <h1>Featured Products</h1>
  </div>

  <div class="filter-btns">
    <button type="button" class="filter-btn" id="all">all</button>
    <button type="button" class="filter-btn" id="new">new</button>
    <button type="button" class="filter-btn" id="best-sellers">
      best seller
    </button>
    <button type="button" class="filter-btn" id="specials">specials</button>
  </div>

  <div class="filter-items" *ngIf="products$ | async as products">
    <div class="filter-item" *ngFor="let product of products">
      <div class="item-img">
        <img
          src="{{ product.image_url || '/assets/default-image.webp' }}"
          alt=""
        />

        <span class="discount">20%</span>
      </div>

      <div class="item-info">
        <p>{{ product.name }}</p>
        <div>
          <span class="old-price">${{ product.price }}</span>
          <span class="new-price"
            >${{ product.price - product.price * 0.2 }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
