<section class="content">
  <div class="container">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="assets/light-coffee.webp" alt="Image 1 Description" />
      </div>
      <div class="inner-container">
        <h2>Signature Blends</h2>
        <p>
          Our handcrafted coffee blends are made from the finest beans, sourced
          from around the globe. Each blend is carefully crafted by our skilled
          roasters, who meticulously balance flavors and aromas to create a
          unique coffee experience. With a diverse selection of blends, there's
          a perfect match for every coffee lover – from traditional roasts to
          adventurous flavors.
        </p>
        <app-secondary-button>Order Now</app-secondary-button>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="image-container">
        <img src="assets/black-coffee.webp" alt="Image 2 Description" />
      </div>
      <div class="inner-container">
        <h2>Find Your Perfect Can</h2>
        <p>
          Our coffee beverage cans are designed to revolutionize your coffee
          experience. The airtight seal preserves the freshness and flavor of
          our premium coffee blends, ensuring you enjoy the perfect cup every
          time. The portable and convenient packaging means you can savor your
          favorite coffee, hot or cold, wherever you go. Embrace the future of
          coffee with our innovative and eco-friendly cans.
        </p>
        <app-secondary-button>Order Now</app-secondary-button>
      </div>
    </div>
  </div>
</section>
