.content {
  background-color: #1e1411;
  padding: 2em 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2em;

      .image-container {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
          width: 50%;
          object-fit: cover;
        }
      }

      .inner-container {
        background-color: #100501;
        padding: 2em;
        margin: 1em;
        border-radius: 8px;
        flex: 1;

        h2 {
          color: #caa973;
          font-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
          margin-bottom: 1em;
        }

        p {
          color: #c68b5b;
          font-size: clamp(1rem, 2vw, 1.2rem);
          line-height: 1.5;
          margin-bottom: 1em;
        }
      }
    }
  }
}
