.featured-block {
  margin-bottom: 1.5rem;
  &__title {
    color: #caa973;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__list {
    display: flex;
    overflow-x: auto; // this allows the element to be scrollable horizontally
    overflow-y: hidden;
    white-space: nowrap; // this prevents the categories from wrapping to the next line
    margin-bottom: 0.5rem;
    &::-webkit-scrollbar {
      display: none; // this hides the scrollbar
    }
  }
}
