<div class="featured-block">
  <h2 class="featured-block__title">{{ categoryName }}</h2>

  <div class="featured-block__products">
    <div class="featured-block__thumbnail">
      <p>{{ categoryName }}</p>
      <app-primary-button class="featured-block__source-now"
        >Source Now</app-primary-button
      >
    </div>
    <div class="featured-block__list">
      <div class="featured-block__item" *ngFor="let product of products">
        <app-featured-product [product]="product"></app-featured-product>
      </div>
    </div>
  </div>

  <app-primary-button class="featured-block__view-more"
    >View More</app-primary-button
  >
</div>
