.shopping-cart {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: #fff;
  .btn {
    display: block;
    text-align: center;
    margin: 1rem;
    width: 100%;
  }
}

.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
  img {
    height: 10rem;
  }

  .trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
    &:hover {
      color: var(--orange);
    }
  }

  .content {
    h3 {
      color: var(--black);
      font-size: 1.7rem;
      padding-bottom: 1rem;
      font-weight: bolder;
    }
    span,
    .amount {
      color: var(--light-color);
      font-size: 1.6rem;
    }
    .amount {
      margin-left: 1rem;
      width: 4rem;
      border: 1px solid var(--light-color);
    }
    .quantity {
      padding-left: 1rem;
    }
  }
}

.total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.test {
  img {
    width: 25px;
  }
}
