<div class="shopping-cart">
  <div>
    <div class="box" *ngFor="let item of items">
      <fa-icon
        (click)="deleteItem(item.id)"
        [icon]="faTrash"
        class="trash"
      ></fa-icon>
      <img
        src="{{ item?.image_urls?.[0] || '/assets/default-image.webp' }}"
        alt="{{ item?.product_name }}"
      />
      <div class="content">
        <h3>{{ item?.product_name }}</h3>
        <span class="price"
          >${{
            item.product_new_price || item.product_price | number: numberFormat
          }}/_</span
        >
        <input
          (change)="onAmountChange($event, item.id)"
          class="amount"
          type="number"
          min="1"
          value="{{ item.amount }}"
        />
      </div>
    </div>
    <p *ngIf="detail && detail.shipping_fee">
      Phí ship: {{ detail.shipping_fee | number: numberFormat }}
    </p>
    <div class="total">
      Tổng cộng: {{ detail?.total_price || 0 | number: numberFormat }} VND
    </div>
    <app-button (buttonClicked)="confirmCheckout()">Thanh toán</app-button>
  </div>
</div>
