<form
  [formGroup]="userForm"
  class="profile-panel"
  *ngIf="user$ | async as user"
>
  <div class="user-info">
    <p>
      Tên đăng nhập:
      <span>{{ user.username }}</span>
    </p>
    <p>
      Tên đầy đủ:
      <input
        formControlName="fullName"
        type="text"
        value="{{ user.full_name }}"
      />
    </p>

    <p>
      Địa chỉ:
      <input formControlName="address" type="text" value="{{ user.address }}" />
    </p>
  </div>

  <div>
    <fa-icon
      *ngIf="!isEditable"
      (click)="onEditClick()"
      class="edit"
      [icon]="faEdit"
    ></fa-icon>

    <!-- <fa-icon -->
    <!--   *ngIf="!isEditable" -->
    <!--   (click)="onOrderClick()" -->
    <!--   class="cancel" -->
    <!--   [icon]="faReceipt" -->
    <!--   routerLink="/orders" -->
    <!-- ></fa-icon> -->

    <fa-icon
      *ngIf="isEditable"
      (click)="onCancelClick()"
      class="cancel"
      [icon]="faX"
    ></fa-icon>

    <fa-icon
      *ngIf="isEditable"
      (click)="onCheckClick()"
      class="check"
      [icon]="faCheck"
    ></fa-icon>
    <button class="btn" (click)="logOut()">Đăng xuất</button>
  </div>
</form>
