.profile-panel {
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;

  .user-info {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: 0.5rem;

    :first-child {
      margin-bottom: 1rem;
    }
  }

  input {
    border: var(--border);
    padding: 0.5rem 0;
    &:disabled {
      background: var(--grey);
      color: var(--dark-grey);
    }
  }

  fa-icon {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}
