<section class="order-page">
  <h1 class="heading">Orders</h1>

  <table class="order-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="orders$ | async as orders">
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>${{ order.total_price }}</td>
        <td>
          <fa-icon
            *ngIf="onCancelShow(order.status)"
            [icon]="faTimes"
            (click)="onCancelOrder(order.id)"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</section>
