<form class="register-form" (submit)="onSubmit()">
  <h3>Create an Account</h3>
  <input
    [(ngModel)]="createMemberDto.fullName"
    name="full-name"
    type="text"
    placeholder="Your full name"
    class="box"
  />
  <input
    [(ngModel)]="createMemberDto.username"
    name="username"
    type="username"
    placeholder="Your username"
    class="box"
  />
  <input
    [(ngModel)]="createMemberDto.password"
    name="password"
    type="password"
    placeholder="Choose a password"
    class="box"
  />
  <input
    [(ngModel)]="createMemberDto.confirmPassword"
    name="confirm-password"
    type="password"
    placeholder="Confirm password"
    class="box"
  />
  <button type="submit" class="btn">Register</button>
</form>
