.sales {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 500px;

  &__part1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #1e1411;
    padding: 0.5em;
  }

  &__part2 {
    background: #0f0602;
    height: 2rem;
  }

  &__info {
    color: #c68b5b;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: #caa973;
    font-size: clamp(1.25rem, 5vw, 1.75rem);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: clamp(0.5rem, 5vw, 0.75rem);
  }

  &__timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
}

.timer__item {
  background: #0f0602;
  color: #caa973;
  text-align: center;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;

  &__number {
    color: #8c5036;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
  }

  &__label {
    font-size: clamp(0.5rem, 2vw, 0.75rem);
  }
}

@media (min-width: 768px) {
  .sales {
    flex-direction: row;

    &__part1 {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    &__timer {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .timer__item {
    margin-bottom: 0;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
