<div class="sales">
  <div class="sales__info">
    <h2 class="sales__title">Deals and Offers</h2>
    <p class="sales__text">Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="sales__timer">
    <div class="timer__item">
      <span class="timer__number">12</span>
      <span class="timer__label">Hour</span>
    </div>
    <div class="timer__item">
      <span class="timer__number">30</span>
      <span class="timer__label">Min</span>
    </div>
    <div class="timer__item">
      <span class="timer__number">45</span>
      <span class="timer__label">Sec</span>
    </div>
  </div>

  <div class="sales__part2"></div>
</div>
