<div class="hero">
  <div class="hero__content">
    <span class="hero__pre-header">Ready-to-Drink Coffee Bliss</span>
    <h1 class="hero__header">Revolutionize Your Coffee Experience</h1>
    <p class="hero__body">
      Find your perfect coffee blend in our wide range of coffee beverage cans.
      Click to browse our selection and experience unparalleled taste and
      convenience.
    </p>
    <app-primary-button class="hero__cta" (buttonClick)="onButtonClick()"
      >Explore Our Collection</app-primary-button
    >
  </div>

  <img
    class="hero__image"
    src="assets/hero/mobile-hero.webp"
    alt="Your image description"
  />
</div>
