<section class="product-details">
  <app-product-gallery [image_urls]="product.image_urls"></app-product-gallery>

  <div class="content">
    <p class="categories">{{ printCategoryNames() }}</p>
    <h1 class="name">{{ product.name }}</h1>
    <p class="price">
      {{ product.price || product.new_price | number: numberFormat }} VND
    </p>

    <input
      [(ngModel)]="createCartItemDto.amount"
      class="amount"
      type="number"
      name="amount"
      min="1"
    />
    <app-button (buttonClicked)="upsertToCart()">Add to cart</app-button>

    <p class="description">
      {{ product.description }}
    </p>
  </div>
</section>
