.sale-item {
  background: #0f0602;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #8c5036;
  border-left: none;

  &__image {
    width: 5rem;
    object-fit: cover;
  }

  &__name {
    color: #caa973;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0.5rem 0;
  }

  &__discount {
    background: #a25b57;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 1.5rem);
  }
}
