<footer class="app-footer">
  <div class="container">
    <div class="social-icons">
      <a href="#" aria-label="Facebook">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>
      <a href="#" aria-label="Twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="#" aria-label="Phone">
        <fa-icon [icon]="faPhone"></fa-icon>
      </a>
    </div>
    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">Gallery</a>
      <a href="#">Team</a>
    </div>
  </div>
</footer>
