.app-footer {
  background: #0f0602;
  display: grid;
  padding: 1em;
  text-align: center;
  grid-template-areas:
    'contact'
    'navs'
    'apps';
  justify-items: center;
  align-items: center;

  &__contact {
    grid-area: contact;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    color: #af8b62;
    font-family: Oswald;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  &__text {
    color: #c68b5b;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    a {
      background: #8c5036;
      color: white;
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
    fa-icon {
      width: 100% !important;
      height: auto !important;
    }
  }

  &__navigations {
    grid-area: navs;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    &__nav {
      flex: 0 0 40%;
    }
    h5 {
      color: white;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    a {
      color: #8b96a5;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 0.25rem;
    }
  }

  &__apps {
    grid-area: apps;
    color: white;
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 0.75rem;
    }

    img {
      width: 150px;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .app-footer {
    grid-template-areas:
      'contact navs'
      'apps navs';

    &__text {
      width: 75%;
      margin: auto;
      margin-bottom: 0.75rem;
    }
  }
}

@media (min-width: 1440px) {
  .app-footer {
    grid-template-areas: 'contact navs apps';

    &__navigations {
      flex-wrap: nowrap;
      text-align: left;
      gap: 6rem;

      &__nav {
        flex: 1;
      }
    }
  }
}
