<footer class="app-footer">
  <div class="app-footer__contact">
    <div class="app-footer__logo">
      <p>ShopEase</p>
    </div>

    <p class="app-footer__text">
      Best information about the company gies here but now lorem ipsum is
    </p>

    <div class="app-footer__icons">
      <a href="#" aria-label="Facebook">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>
      <a href="#" aria-label="Twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="#" aria-label="Phone">
        <fa-icon [icon]="faPhone"></fa-icon>
      </a>
    </div>
  </div>
  <div class="app-footer__navigations">
    <div class="app-footer__navigations__nav">
      <h5>About</h5>
      <ul>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Find Store</a>
        </li>
        <li>
          <a href="#">Categories</a>
        </li>
        <li>
          <a href="#">Blogs</a>
        </li>
      </ul>
    </div>

    <div class="app-footer__navigations__nav">
      <h5>Partnership</h5>
      <ul>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Find Store</a>
        </li>
        <li>
          <a href="#">Categories</a>
        </li>
        <li>
          <a href="#">Blogs</a>
        </li>
      </ul>
    </div>

    <div class="app-footer__navigations__nav">
      <h5>Information</h5>
      <ul>
        <li>
          <a href="#">Help Center</a>
        </li>
        <li>
          <a href="#">Money Refund</a>
        </li>
        <li>
          <a href="#">Shipping</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="app-footer__navigations__nav">
      <h5>For users</h5>
      <ul>
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">Register</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">My Orders</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="app-footer__apps">
    <h2 class="app-footer__apps__title">Get App</h2>
    <img src="assets/buttons/app-store.webp" alt="Download on App Store" />
    <img src="assets/buttons/google-play.webp" alt="Download on Google Play" />
  </div>
</footer>
