<div class="sale-countdown">
  <div class="sale-countdown__info">
    <h2 class="sale-countdown__title">Deals and Offers</h2>
    <p class="sale-countdown__text">Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="sale-countdown__timer">
    <div class="timer__item">
      <span class="timer__item__number">12</span>
      <span class="timer__item__label">Hour</span>
    </div>
    <div class="timer__item">
      <span class="timer__item__number">30</span>
      <span class="timer__item__label">Min</span>
    </div>
    <div class="timer__item">
      <span class="timer__item__number">45</span>
      <span class="timer__item__label">Sec</span>
    </div>
  </div>
</div>
