<section class="feature">
  <div class="container">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="assets/black-coffee.webp" alt="Image 1 Description" />
      </div>
      <div class="inner-container">
        <h2>Ineiihee Ofiheccree</h2>
        <p>
          Our Ineiihee Ofiheccree is a rich and flavorful coffee made from a mix
          of Arabica and Robusta beans, carefully roasted to bring out their
          unique flavors. Perfect for starting your day or as a delightful
          afternoon pick-me-up.
        </p>
        <div class="price">$12.99</div>
        <app-secondary-button>Order Now</app-secondary-button>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="image-container">
        <img src="assets/light-coffee.webp" alt="Image 2 Description" />
      </div>
      <div class="inner-container">
        <h2>Fiohrplile</h2>
        <p>
          Fiohrplile is a mild and balanced coffee that features a blend of
          carefully selected Arabica beans from Central and South America. It
          offers a smooth and easy-drinking experience with subtle notes of
          chocolate and caramel. Great for any time of day.
        </p>
        <div class="price">$17.99</div>
        <app-secondary-button>Order Now</app-secondary-button>
      </div>
    </div>
  </div>
</section>
