<section class="feature">
  <h2 class="feature__header">Our Unique Features</h2>
  <p class="feature__body">
    Experience the difference with our innovative coffee beverage cans.
  </p>
  <div class="feature__icons">
      <div class="icon">
    <div class="icon__circle">
        <img src="assets/coffee-beans.webp" alt="Icon1" />
      </div>
      <p>Premium Quality Coffee</p>
    </div>
    <div class="icon">
      <div class="icon__circle">
        <img src="assets/box.webp" alt="Icon2" />
      </div>
      <p>Eco-friendly Packaging</p>
    </div>
    <div class="icon">
      <div class="icon__circle">
        <img src="assets/recycle.webp" alt="Icon3" />
      </div>
      <p>Portable and Convenient</p>
    </div>
    <div class="icon">
      <div class="icon__circle">
        <img src="assets/cans.webp" alt="Icon4" />
      </div>
      <p>Variety of Flavors</p>
    </div>
  </div>
</section>
