.shop-nav-bar {
  align-items: center; // this will align the categories vertically
  border-radius: 8px; // adjust as needed
  padding: 0.5em;

  &__nav {
    overflow-x: auto; // this allows the element to be scrollable horizontally
    white-space: nowrap; // this prevents the categories from wrapping to the next line
  }

  &__nav::-webkit-scrollbar {
    display: none; // this hides the scrollbar
  }

  app-shop-nav-item {
    margin: 0 0.5em; // adjust as needed
  }
}
