.category-menu {
  display: flex;
  align-items: center; // this will align the categories vertically
  border-radius: 8px; // adjust as needed
  overflow-x: auto; // this allows the element to be scrollable horizontally
  white-space: nowrap; // this prevents the categories from wrapping to the next line

  &::-webkit-scrollbar {
    display: none; // this hides the scrollbar
  }

  app-category {
    color: #caa973;
    margin: 0 0.5em; // adjust as needed
    display: inline-block; // this allows the categories to be in a single line
  }
}
