<<<<<<< HEAD
.supplier-request {
  background: linear-gradient(to right bottom, #1e1411, rgba(15, 6, 2, 0.5));
  padding: 1.75em;
  &__title {
    color: white;
    margin-bottom: 1em;
    font-size: 1.75rem;
    font-weight: 500;
    width: 90%;
  }
}

@media (min-width: 600px) {
  .supplier-request {
    &__title {
      width: 50%;
    }
  }
}
||||||| 3c8e454
=======
.supplier-request {
  background: linear-gradient(to right bottom, #1e1411, rgba(15, 6, 2, 0.5));
  padding: 1.75em;
  display: grid;
  grid-template-areas:
    'text form'
    'button form';
  &__text {
    grid-area: text;
  }

  &__title {
    color: #caa973;
    margin-bottom: 1em;
    font-size: 1.75rem;
    font-weight: 500;
  }

  &__description {
    color: #c68b5b;
    margin-bottom: 1rem;
    display: none;
  }

  &__form {
    display: none;
    grid-area: form;
    background: #0f0602;
    padding: 1em;
    border-radius: 0.5rem;
    &-title {
      color: #caa973;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    input,
    textarea,
    select {
      width: 100%;
      color: #8c5036;
      padding: 0.5em;
      background: #0a090b;
      border: 1px solid #c68b5b;
      border-radius: 0.5em;
      margin-bottom: 0.5rem;
      &::placeholder {
        color: #8c5036;
      }
    }
    textarea {
      height: 100px;
    }
  }

  &__button-form {
    display: none;
  }

  &__button {
    grid-area: button;
  }
}

@media (min-width: 600px) {
  .supplier-request {
    max-width: 1000px;
    margin: 0 auto;

    &__description {
      display: inline-block;
    }
  }
}

@media (min-width: 768px) {
  .supplier-request {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'text text . form form'
      '. . . form form';
    &__form {
      display: inline-block;
    }

    &__button {
      display: none;
    }

    &__button-form {
      display: inline-block;
    }
  }
}
>>>>>>> develop
