.recommended-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;

  &__item {
    flex: 0 1 150px;
  }
}

@media (min-width: 768px) {
  .recommended-products-list {
    justify-content: flex-start;
  }
}
