<div class="shop-page">
  <div class="shop-page__body">
    <section class="shop-page__navigation">
      <app-shop-nav-bar></app-shop-nav-bar>
    </section>

    <section class="shop-page__carousel">
      <app-shop-carousel></app-shop-carousel>
    </section>

    <section class="shop-page__sales">
      <app-sales-section></app-sales-section>
    </section>

    <section class="shop-page__recommended">
      <app-recommended-section></app-recommended-section>
    </section>

    <section class="shop-page__featured">
      <app-featured-section></app-featured-section>
    </section>

    <section class="shop-page__supplier">
      <app-supplier-request></app-supplier-request>
    </section>
  </div>
</div>
