.shop-page {
  background-color: #11110f;
  &__body {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__recommended,
  &__featured {
    max-width: 700px;
    margin: 0 auto;
  }

  &__supplier {
    padding-bottom: 1rem;
  }
}

@media (max-width: 700px) {
  .shop-page {
    &__recommended,
    &__featured {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .shop-page {
    &__recommended,
    &__featured {
      max-width: 700px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 901px) {
  .shop-page {
    &__recommended,
    &__featured {
      max-width: 1200px;
      margin: 0 auto;
    }
    &__carousel {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
