<app-input
  [id]="'username'"
  [label]="'Tên đăng nhập'"
  [placeholder]="'Thêm tên đăng nhập..'"
  [value]="'test'"
  [disabled]="true"
></app-input>

<app-input
  [id]="'full-name'"
  [label]="'Tên đầy đủ'"
  [placeholder]="'Thêm tên đầy đủ..'"
  [value]="profile.full_name"
  (change)="onFullNameChange($event)"
></app-input>

<app-input
  [id]="'phone'"
  [label]="'Số điện thoại'"
  [placeholder]="'Thêm số điện thoại..'"
  [value]="profile.phone"
  (change)="onPhoneChange($event)"
></app-input>
<app-button (buttonClicked)="updateProfile()">Cập nhật</app-button>
